{
    "applications": {
        "[YOUR APP NAME]": {
            "applicationId": "xxxxxx",
            "masterKey": "xxxxxx"
        },
        "_default": {
            "link": "[YOUR APP NAME]"
        }
    },
    "global": {
        "parseVersion": "1.2.19"
    }
}
